.custom-tooltip {
    background-color: #fff;
    color: #000000;
    font-size: 8px;
    font-weight: 500;
    width: 39px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessions-title-container {
    display: flex;
    align-items: center;
    width: 148px;
    height: 57px;
}
.sessions-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
