
.navbar {
    background-color: #020203;
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px 30px;   
}

.navbar-list-item {
    color: #fff;
    font-size: 24px;
}


