nav {
    background-color: #020203;
    
    .navbar-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 20px 30px;
        
        .navbar-list-item {
            color: white;
            font-size: 24px;
        }
    }
}
/* Media query for 1024x780 screen size */
// @media (max-width: px) {
//     .navbar-list {
//         padding: 10px;

//         .navbar-list-item {
//             margin-bottom: 10px;
//             font-size: 20px;
//         }
//     }

    // nav {
    //     padding: 10px;
    // }
// }

