.title {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  
}
.name-user {
  color: red;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 50px 0;
}

section {
  background-color: cyan;
  width: 94%;
  padding: 10px 20px;
}

.diagrams-container{ 
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  
}

.main-container {
  display: flex;
  width: 1024px;
}


// .progress-graph {
// justify-content: space-between;
// padding: 20px 30px;
// }

.progress-container {
  width: 70%;
}

.graph-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 80px 0;
}

.picture {
  display: flex;
}
.info-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  // padding: 20px;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
}
