section {

  width: 100%;
}

.main-container , .progress-graph {
  display: flex;
}

.name, .kcal {
  color: red;
}

// .kcal {
//   color: red;
// }
.progress-graph {
justify-content: space-between;
padding: 20px 30px;
}

