.title, .subtitle {
  font-weight: 500;
  margin: 0;
}

.title {
  font-size: 48px;
}

.name-user {
  color: red;
}

.subtitle {
  font-size: 18px;
  margin: 20px 0 50px;
}

section {
  width: 907px;
  padding: 40px 20px 0 30px;
  // background-color: burlywood;
}

.diagrams-container, .main-container, .picture {
  display: flex;
}

.diagrams-container {
  gap: 20px;
}

.main-container {
  width: 1024px;
}

.progress-container {
  width: 70%;
  margin-bottom: 31px;
}

.graph-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  padding-top: 31px;
}

.sessions-container, .info-container, .objectif-container {
  flex: 1; 
}

.info-container {
  width: 30%;
  justify-content: center;
}

.info-calories {
  flex-direction: column;
}

.picture {
  width: 258px;
  height: 124px;
  align-items: center;
  background-color: #FBFBFB;
  margin-bottom: 20px;
  padding-left: 40px;
  border-radius: 5px;
}

.info {
  flex-direction: column;
  margin: 15px 0 0 20px;
}

.info p {
  margin: 0;
}

.info-value {
  font-size: 20px;
  font-weight: 700;
}

.info-text {
  font-size: 14px;
  color: #74798c;
}
